/* div.TEIContainer.other { */
/*   display: none; */
/* } */

/* div.TEIContainer.commentary tei-titlestmt { */
/*   /\*display: none;*\/ */
/* } */

div.TEIContainer.commentary * {
  animation-duration: 0.5s;
  animation-name: appear;
}
@keyframes appear{
  from {
    color: white;
  }
  10% {
    color: white;
  }
  20% {
    color: #EEE;
  }
  30% {
    color: #DDD;
  }
  40% {
    color: #BBB;
  }
  50% {
    color: #999;
  }
  60% {
    color: #777;
  }
  70% {
    color: #666;
  }
  80% {
    color: #444;
  }
  90% {
    color: #222;
  }
  to {
    color: black;
  }
}

div.TEIContainer {
  position:absolute;
  top: 10px;
  left: 300px;
  max-height: 300px;
	/* height: 25%; */
  overflow-y: auto;
  width: 800px;
  font-size: 100%;
	overflow: auto;
	text-overflow: ellipsis;
}

/* div.scorepane { */
/*   display: none; */
/*   width: 1px; */
/*   max-width: 0px; */
/*   height: 1px; */
/*   margin: 0px; */
/*   padding: 0px; */
/*   position: fixed; */
/*   top: 0px; */
/* } */

html {
  max-height: 1024px;
}
.timelineFooter {
		/* height: calc(100% - 790px); */
	/* min-height: 180px; */
	height: 197px;
		background-color: #20202F;
		position: fixed;
		bottom: 0;
		width: 100%;
		padding: 0 15px;
		z-index:5;
		overflow-x:auto;
}
.zoomieButton {
	position: fixed;
	right: 14px;
	bottom: 14px;
	color: #868695;
	font-family: Muli, "Gill Sans", Tahoma, Geneva, sans-serif;
}
svg.timeline-overview {
  position: absolute;
  bottom: 15px;
}
.timelineFooter #timelineLegend {
	position: fixed;
	/* bottom: calc(100% - 750px); */
	/* right: 15px; */
	bottom: 197px;
	right: 30px;
}
.timelineFooter #timelineLegend .background{
	fill: #20202F;
}
.timelineFooter #timelineLegend text.legend,
.timeline-overview text.legend {
	fill: #DBDBEA;
	font-family: Muli, "Gill Sans", Tahoma, Geneva, sans-serif;		
}

line.annotation {
  cursor: pointer;
}
.timeline-overview rect {
		stroke: #424251;
		fill: #424251;
}
.timeline-overview rect.motifBubble, .timeline-overview path.motifBubble  {
		stroke: #3333FF;
		fill: #3333FF;
}
.timeline-overview text.motifBubbleText {
		fill: #FFFFFF;
		font-family: Muli, "Gill Sans", Tahoma, Geneva, sans-serif;
		text-anchor: middle;
}
.timeline-overview text.keyLabel {
		font-family: Muli, "Gill Sans", Tahoma, Geneva, sans-serif;
		text-anchor: middle;
		fill: orange;
}
.timeline-overview g.keyButton {
	cursor: pointer;
	pointer-events: bounding-box;
}
.timeline-overview g.keyButton:hover rect {
	fill: #444466;
}
.timeline-overview g.keyButton rect{
	stroke: orange;
	stroke-width: 2;
	fill: #000022;
}
.timeline-overview text.title {
	fill: #B9B9C8;
	font-size: 14px;
	font-weight: normal;
	text-anchor: middle;
	font-family: Muli, "Gill Sans", Tahoma, Geneva, sans-serif;		
}
.timeline-overview text.actName, .timeline-overview text.scenename {
		fill: #868695;
		font-family: Muli, "Gill Sans", Tahoma, Geneva, sans-serif;		
}
.timeline-overview line.scene.division {
		stroke: #000022;
		stroke-width: 1;
}
.timeline-overview rect.progressToNow {
		fill: #FFA500;
}
.timeline-overview rect.compareMiddle {
		fill: white;
}

.timeline-overview line.annotation {
		stroke-width: 2.5;
}

line.annotation.unperformed {
	stroke-dasharray: 2,2;
}

.timeline-overview line.annotation.AFlatMinor,
.timeline-overview line.annotation.AMinor,
.timeline-overview line.annotation.AMajor,
#timelineLegend circle.AKeys,
.timeline-overview circle.AKeys,
.timeline-overview circle.magicRealm{
		/* fill: #006633; */
		/* stroke: #006633; */
		fill: #00B2B2;
		stroke: #00B2B2;
}
.timeline-overview line.FSharpMinor,
.timeline-overview line.FMinor,
#timelineLegend circle.FKeys,
.timeline-overview circle.FKeys {
		fill: #FF4DFF;
		stroke: #FF4DFF
}

.unspecifiedKey {
		fill: rgba(86, 86, 86, 0.6);
		stroke: rgba(86, 86, 86, 0.6);
}
path.selected.annotation {
		stroke-width: 2;
		stroke: #000;
}
img.carouselItem {
	visibility: visible !important;
	top:0px !important;
	left:0px !important;
	padding:0px !important;
	position:relative;
	//	width: 350px;
	width: 100%;
	height: auto;
}
.carouselItemWrapper:not(.swiper-slide-active) img, .carouselItemWrapper:not(.swiper-slide-active) *{
		-webkit-filter: contrast(20%);
		-moz-filter: contrast(20%);
		-o-filter: contrast(20%);
		-ms-filter: contrast(20%);
		filter: contrast(20%);
}
.carouselItemWrapper {
	position:relative;
	width:450px;
	background-color: white;
	padding-left: 5px;
	min-height: 600px
}
.carouselItemWrapper tei-teiheader {
	display:none
}
.carouselItemWrapper .TEIContainer {
	position: relative;
	display: block;
	margin: 20px;
	left: 0;
	top: 0;
	width: calc(100% - 80px);
}
.carouselItemWrapper .TEIContainer:nth-child(2) {
	border-top: 1px solid #000022;
}

.carouselWrapper {
	background-color: #EEE;
	padding-top:5px;
	padding-bottom: 5px;
	height: calc(100% - 80px - 150px);
	min-height: 700px;
	position:relative;
	top:80px;
}

.carousel img {
  border: none;
  padding: 0px;
}
.carouselWrapper tei-lyric {
	width: 100%;
}

.carouselWrapper figure {
  margin: 0
}
/* .react-3d-carousel { */
/*     width: 400px; */
/*     height: 300px; */
/*     position: relative; */
/*     perspective: 1000px; */
/* } */

/* .react-3d-carousel .carousel { */
/*     width: 100%; */
/*     height: 100%; */
/*     position: absolute; */
/*     transform-style: preserve-3d; */
/* } */

/* .react-3d-carousel .carousel  figure { */
/*     display: block; */
/*     position: absolute; */
/*     width: 400px; */
/*     height: 300px; */
/*     left: 10px; */
/*     top: 10px; */
/*     border: 1px solid black; */
/*     line-height: 116px; */
/*     font-size: 80px; */
/*     font-weight: bold; */
/*     color: white; */
/*     text-align: center; */
/* } */

/* .react-3d-carousel .carousel figure { */
/*     background: #f0f0f0; */
/* } */

/* .react-3d-carousel .carousel figure.blank { */
/*   border: none; */
/*   background: #FFF; */
/* } */

/* .react-3d-carousel   .prev { */
/*     position: absolute; */
/*     height: 100%; */
/*     width: 15%; */
/*     top: 0px; */
/*     left: 0px; */
/*     border-radius:24px; */
/* } */
/* .react-3d-carousel .prev:hover, .react-3d-carousel .next:hover { */
/*   background-color: rgba(192,192,224,0.2); */
/* } */

/* .react-3d-carousel   .prev:before { */
/*     content: url("http://s3.postimg.org/o6xpvkidb/chevron_left_white.png"); */
/*     position: absolute; */
/*     top: 0; */
/*     bottom: 0; */
/*     left: 0; */
/*     right: 0; */
/*     width: 43px; */
/*     height: 49px; */
/*     margin: auto; */
/* } */

/* .react-3d-carousel  .next { */
/*     position: absolute; */
/*     height: 100%; */
/*     width: 15%; */
/*     top: 0px; */
/*     right: -5px; */
/* } */
/* .react-3d-carousel  .next:before */
/* { */
/*     content: url("http://s2.postimg.org/l0n6eaoad/chevron_right_white.png"); */
/*     position: absolute; */
/*     top: 0; */
/*     bottom: 0; */
/*     left: 0; */
/*     right: 0; */
/*     width: 43px; */
/*     height: 49px; */
/*     margin: auto; */
/* } */

.swiper-wrapper svg.orchestralRibbon {
		position: static;
}
/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  /* width: 36px; */
  /* height: 30px; */
  /* left: 36px; */
  /* top: 36px; */
  width: 24px;
  height: 20px;
  left: 24px;
  top: 24px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  /* background: #373a47; */
  background: #EEE;
	border-radius: 10px;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  /* background: #a90000; */
  background: #000022;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: white;
  padding: 0 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
	text-decoration: none;
	cursor: pointer;
 	font-family: Muli, "Gill Sans", Tahoma, Geneva, sans-serif;
	height: 5vh;
	color: #FFF;
	line-height: 5vh;
}
.bm-item:hover {
	color: white;
	background-color: #444466
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
