/* div.TEIContainer { */
/*   display: none; */
/* } */
/*
@keyframes pulse_animation {
	0% { transform: scale(1,1); }
	15% { transform: scale(1.01,1); }
	20% { transform: scale(1.02,1); }
	25% { transform: scale(1.01,1); }
	30% { transform: scale(1.01,1); }
	35% { transform: scale(1.02,1); }
	40% { transform: scale(1.01,1); }
	50% { transform: scale(1,1); }
	65% { transform: scale(1.01,1); }
	60% { transform: scale(1.02,1); }
	65% { transform: scale(1.01,1); }
	70% { transform: scale(1.01,1); }
	75% { transform: scale(1.02,1); }
	80% { transform: scale(1.01,1); }
	100% { transform: scale(1,1); }
}
*/
@keyframes pulse_animation {
	0% { transform: rotate(0deg); }
	20% { transform: rotate(2deg); }
	30% { transform: rotate(4deg); }
	40% { transform: rotate(8deg); }
	50% { transform: rotate(2deg); }
	60% { transform: rotate(-2deg); }
	70% { transform: rotate(-8deg); }
	80% { transform: rotate(-2ddeg); }
	100% { transform: rotate(0deg); }
}

div.TEIContainer.commentary {
  /* left: 630px; */
  /* top: 15px; */
  /* width: 370px; */
  /* font-size: 91%; */
  font-size: 16px;
	color: #525261;
  display: block;
	max-height: none;
}
div.dark div.TEIContainer.commentary {
	color: #FFF;
}
div.dark div.TEIContainer.commentary tei-ref{
	color: #FFA500;
	text-decoration: none;
	font-weight: bold;
}
.inspector .inspectCommentary {
	width: 100%;
/*	position: relative;*/
	padding-top: 10px;
}
.orchestralProseButton {
	background-color: white;
	float: right;
	border: solid 2px #FFD24D;
	width: 85px;
	font-size: 80%;
	border-radius: 15px;
	padding: 4px 6px;
	text-align: center;
	cursor:pointer;
}
.orchestralProseButton.active, .orchestralProseButton:hover {
	background-color: #FFD24D;
	color: white;
	font-weight: bold;
}

div.inspect.dark div.TEIContainer{
	background-color: rgba(32,32,47,0.9);
	color: white;
	border: none;
	border-radius: 3px;
	width: 98%;
}
div.English.inspect.dark div.TEIContainer {
	max-height: calc(100% - 370px);
	bottom: calc(100% - 460px);
	position: relative;
	margin: 0.6em 0;
	padding: 3px;
	overflow-x: hidden;
}
div.English.inspect.dark div.TEIContainer{
	left: 0%;
}
.inspector.right div.English.inspect.dark div.TEIContainer{
	left: 0%
}
div.TEIContainer tei-teiheader {
	margin: 0.8em 0;
}
div.inspect.dark div.TEIContainer tei-titleStmt tei-title, div.dark div.TEIContainer tei-titleStmt tei-title {
	color: white;
}
.inspect.orchestrationProse div.TEIContainer{
	top: auto;
	bottom: 0px;
	border-radius: 6px;
	width: 95%;
	left: 0;
	padding: 2% 4%;
	background-color: white;
	position: relative;
	margin: 0;
	height: 110px;
}
.inspect.orchestrationProse div.TEIContainer tei-teiheader {
	display: none;
}
/* .inspect.orchestrationProse div.TEIContainer{ */
/* 	top: auto; */
/* 	bottom: 120px; */
/* 	border-radius: 6px; */
/* 	width: 90%; */
/* 	left: 0; */
/* 	padding: 2% 4%;	 */
/* } */

.inspectCommentary {
	width: 45%;
	left: 5%;
	position: absolute;
	/* bottom: 30px; */
	bottom: 15px;
	height: 40px;
	display: flex;
	align-items: center;
}
.inspectCommentary.right {
	left: 55%;
}
.inspectCommentary .media{
	min-width: 300px;
	display: inline-block;
}
.inspectCommentary .media-controls input{
	width: 200px;
}
.inspectCommentary .media-info {
	display: inline-block;
}
.inspectCommentary button, button.translationButton{
	display: inline-block;
	padding: 2px;
	margin: 4px auto;
	font-size: 14px;
}
button.translationButton{
	position: absolute;
	right: 10px;
}
div.inspectorwrapper div.inspect.commentary {
	bottom: 0;
}
div.inspect.commentary {
	width: 100%;
	position: absolute;
/*	background-color: rgba(255, 255, 255, 0.8);
	/* height: calc(100% - 350px); */
	height: calc(100% - 370px);
	min-height: 170px;
	/* bottom: 20px; */
	bottom: 75px;
	overflow-y: auto;
	z-index: 25;
}
div.inspect.commentary div.TEIContainer {
	width: 90%;
	top: 0;
	left: 0;
	padding: 2% 4%;
}
div.TEIContainer.libretto, .carouselItemWrapper .librettoContainer {
		display: block;
		width: auto;
	top: 15px;
	left: 5px;
	height: 100px;
}
div.TEIContainer.libretto tei-teiheader, div.English div.TEIContainer tei-teiheader {
	display:none;
}

svg.orchestralRibbon {
  /* position: absolute; */
  /* left: 640px; */
  /* bottom: 15px; */
}

div.scorepane {
  /* width: 620px; */
}

.leftbuttonblock {
		position: fixed;
		left:580px;
		top: 10px;
		z-index:120;
		background-color: white;
}
a.anchorbutton {
		margin: 3px;
		padding: 4px;
		border: 1px solid grey;
		border-radius: 5px;
}
a.anchorbutton:hover {
		background-color: #EEE;
		font-weight: bold;
}
a.anchorbutton:active, a.anchorbutton:hover {
		margin: 5px 5px 1px 1px;
}
.rightbuttonblock {
		position: fixed;
		right: 20px;
		top: 10px;
		z-index: 120;
		background-color: white;
}
text.label, .infoLabel {
	font-size: 450px;
	font-family: georgia, serif;
	font-style: italic;
}
.chordType .figure {
	font-size: 380px;
}
rect.labelabove {
		fill: rgba(192, 168, 247, 0.5);
}
rect.labelabove.x {
		fill: rgba(255, 127, 192, 0.5);
}
/* div.scorepane{ */
/* 		margin-top: -20px; */
/* } */
body {
		width: 100%;
		min-width: 1200px;
		min-height: 800px;
		height: 100vh;
}
body .container{
	min-height: 800px;
}
html {
		padding: 0;
		margin: 0;
}
.TMcommentary {
		position: fixed;
		width: 30%;
		min-width: 360px;
		max-width: 600px;
		left: 16px;
		top: 96px;
		border: #CCC solid 2px;
		background-color: white;
		height: 28%;
		min-height: 250px;
		z-index: 2;
}
.TMcommentary.carousel {
	position: fixed;
	bottom: 200px;
	top: auto;
	border-radius: 3px;
	color: #FFF;
}
.TMcommentary.dark {
	background-color: #373a47;
	border: none;
}

.TMcommentary div.TEIContainer.commentary * {
		font-family: Muli, "Gill Sans", Tahoma, Geneva, sans-serif;
}
.TMcommentary div.TEIContainer.commentary {
		left: 0;
		top:0;
		width: calc(100% - 40px);
		/* height: 60%; */
		/* height: 600px; */
		height: calc(100% - 60px);
		position: relative;
		margin-top: 0px;
}
.TMcommentary .media {
		padding: 0 15px 15px 15px;
}
.TMcommentary .media .media-controls input{
		width: calc(100% - 130px);
		margin-bottom: 5px;
}
.TMcommentary .media .media-controls .media-info{
		display: inline-block;
		vertical-align: middle;
		height: 40px;
}

.TMcommentary .media .media-controls time, .TMcommentary .media .media-controls span{
		color: #777;
		font-family: Muli, "Gill Sans", Tahoma, Geneva, sans-serif;		
}
.topMenu {
		width: 100%;
		/* height: 80px; */
		height: 84px;
		top: 0;
		position: fixed;
}
.hamburger {
		position: fixed;
		top: 15px;
		left: 15px;
}
.title {
		font-family: Muli, "Gill Sans", Tahoma, Geneva, sans-serif;		
		/* color: #333; */
		/* font-size: 110%; */
		color: #444;
		font-size: 19px;
		font-weight: bold;
		position: relative;
		margin: 15px auto;
		width: 200px;
		height: 100%;
		vertical-align: middle;
		text-align: center;
}
.title span {
	text-align: left;
	margin-left: 26px;
}
.menu-item .icon {
	position:absolute;
	display: inline-block;
	vertical-align: middle;
	margin: 10px 5px 0px -27px;
}
.title .icon {
	position:absolute;
	display: inline-block;
	vertical-align: middle;
	
}
.title .icon img , .menu-item .icon img {
	height: 24px;
	width: 24px;
	top: 0;
	left: 0;
	position: absolute;
	margin: 0;
	padding: 0;
	visibility: visible;
}

.optionBlock {
		position: fixed;
		right: 15px;
		top: 0;
		display: table;
		height: 80px;
}
.inspector .optionBlock {
	position: absolute;
	right: 4%;
	top: 35px;
	display: table;
	height: 40px;
	z-index: 20;
}

.topMenu .option, .inspector .optionBlock .option{
		font-family: Muli, "Gill Sans", Tahoma, Geneva, sans-serif;		
		color: #888;
		font-size: 14px;
		margin: 0 1em;
		display: table-cell;
		height: 100%;
		vertical-align: middle;
		text-align: center;
		z-index: 20;
}
.topMenu .separator, .inspector .optionBlock .separator{
		display: table-cell;
		width: 2em;
}
.librettoTab {
	height: 100%;
}

.topMenu .option.active, .inspector .optionBlock .option.active {
		/* color: orange; */
		/* border-bottom: 4px solid orange; */
		color: #DB6D00;
		border-bottom: 4px solid #DB6D00;
}
		
.topMenu .option.clickable, .inspector .optionBlock .option.clickable {
	cursor: pointer;
}
div.inspectLibretto {
	background-color: white;
}
.react-tabs div.inspectLibretto div.TEIContainer.other {
/*	top: -40px;*/
	position: relative;
}
div.inspectLibretto div.TEIContainer.other {
	display: block;
	left: 0;
	top:0;
	width: calc(100% - 10px);
	padding: 0 5px;
	margin: 20px 0 0 0;
	background-color: white;
	height: 100%;
	max-height: auto;
	/*	font-size: 105%; */
		font-size: 102%;
}
div.inspectLibretto .leftColumn {
	width: 46%;
	left: 2%;
	position: relative;
}
div.inspectLibretto .rightColumn {
	width: 46%;
	left: 52%;
	position: relative;
}
.inspectLibretto tei-teiheader {
	display: none;
}
.inspectLibretto tei-body * {
	width: 100%;
}
.wrapper.essay .TEIContainer {
	left: calc( 50% - 344px);
	top: 50px;
	width: 687px;
	padding: 8px;
	background-color: white;
	height: calc(100% - 54px );
	max-height: max-content;
	font-family: Muli, "Gill Sans", Tahoma, Geneva, sans-serif;
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}
.wrapper.essay .TEIContainer tei-p{
	text-align: left;
	padding: 0 69px;
	line-height: 29px;
}
.wrapper.essay .TEIContainer tei-lg {
	padding: 0 89px;
}
.wrapper.essay .TEIContainer tei-link{
	text-decoration: none;
	background-color: #FFD24D;
}
.wrapper.essay .TEIContainer tei-link:hover{
	text-decoration: underline;
}
.wrapper.essay .TEIContainer tei-note:before {
	content: "*";
	font-size: 15px;
	color: #006;
	letter-spacing: normal;
	visibility: visible;
}
tei-hi[rend~="figures"]{
	line-height: 1;
	display: inline-block;
	top: 7px;
	position: relative;
}
tei-hi[rend~="figures"] tei-hi[rend~="num"], tei-hi[rend~="figures"] tei-hi[rend~="den"]{
	font-size: 55%;
}
tei-hi[rend~="figures"] tei-hi[rend~="num"] {
	vertical-align: top;
	letter-spacing: -1em;
}
tei-hi[rend~="figures"] tei-hi[rend~="den"] {
	vertical-align: bottom;
}

.wrapper.essay .TEIContainer tei-note tei-p{
	font-size: 14px;
	color:#66F;
	letter-spacing:normal;
	line-height: 1.4;
	visibility: hidden;
	width: calc(50% - 344px - 30px);
	position: fixed;
	background-color: white;
	left: 10px;
	top: 113px;
	padding: 5px;
	margin: 0;
}
.wrapper.essay .TEIContainer tei-note:hover tei-p{
	visibility: visible;
}

.wrapper.essay .TEIContainer tei-note {
	position: relative;
	display: inline-block;
}

/* .wrapper.essay .TEIContainer tei-note:before { */
/* 	content: "*"; */
/* 	font-size: 15px; */
/* 	color: #006; */
/* 	letter-spacing: normal; */
/* 	visibility: visible; */
/* } */

/* .wrapper.essay .TEIContainer tei-note:hover{ */
/* 	font-size:15px; */
/* 	color:#66F; */
/* 	letter-spacing:normal; */
/* } */

/* .wrapper.essay .TEIContainer tei-note { */
/* 	font-size: 1px; */
/* 	letter-spacing: -1px; */
/* 	color: transparent; */
/* 	color: rgba(255, 255, 255, 0); */
/* } */
/* @media (hover: none) { */
/* 	.wrapper.essay .TEIContainer tei-note { */
/* 		visibility: hidden; */
/* 		letter-spacing: 0; */
/* 		display: none; */
/* 	} */
/* } */
/* .wrapper.essay .TEIContainer tei-note { */
/* 	position: relative; */
/* 	display: inline-block; */
/* } */
/* .wrapper.essay .TEIContainer tei-note { */
/* 	visibility: hidden; */
/* 	width: 120px; */
/* 	n */
/* } */


tei-quote[rend="block"] {
	display: block;
	padding: 4px 75px;
}

.wrapper.essay .TEIContainer tei-teiHeader {
	padding: 4em 4em 1em 69px;
	line-height: 42px;
}
.linksTab {
	width: calc(50% - 370px);
	right: 8px;
	position: absolute;
}
svg.score {
	border: 1px solid #FFD24D;
}
svg .dir.cast, svg .dir.cast *, svg .dir.cast text {
	font-style: normal;
	font-weight: bold;
}
.segment {
	fill: none;
	pointer-events:all;
	stroke: #20202F;
	stroke-width: 10px;
}
.segment.highlight {
	stroke-width: 45px;
	stroke: #FFD24D;

}
.segment:hover {
	stroke: #FFD24D;
	stroke-width: 30px;
}
g.systemSegmentInfo .segmentInfo {
	fill: #20202F;
	font-family: Muli, "Gill Sans", Tahoma, Geneva, sans-serif;
	font-size: 430px;
}
text.instrLabel, text.instrLabel.Woodwind, text.instrLabel.Strings,text.instrLabel.Percussion,
text.instrLabel.Brass, text.instrLabel.Cast {
	text-anchor: end;
	font-weight: normal;
	/* font-size: 12px; */
	font-size: calc( 30% + 1vh);
}
.TMHeader {
	font-family: Muli, "Gill Sans", Tahoma, Geneva, sans-serif;
	color: #525261;
	text-align: center;
}
.TMHeader .TMMIName {
	font-weight: bold;
	color: #20202F;
}
.TMHeader .key, .TMHeader .form {
	font-size: 80%;
}
.inspector.blankPane {
	background-color: #EFEFEF;
}
.inspector.blankPane .caption {
  width: 240px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -50px 0 0 -120px;
  height: 100px;
}
.background {
	height: 100%;
	width: 100%;
	position: fixed;
	background-color: rgba(247,249,250, 0.8);
	z-index: 1000;
	top: 0;
	left: 0;
}
.popup {
	height: 90%;
	width: 90%;
	margin: 5%;
	background-color: #FFF;
}
.popup div.TEIContainer {
	width: 35%;
	top: 10%;
}
.popup div.TEIContainer:nth-child(1) {
	left: 12.5%;
}
.popup div.TEIContainer:nth-child(2) {
	left: 52.5%;
}
.media.videoEssay {
	margin-left: calc(50% - 400px);
	padding-top: 10px;
}
.videoEssay .media-info {
	display: inline-block;
	padding-left: 10px;
}
.videoLinks {
	width: calc(50% - 400px);
	right: 10px;
	top: 10px;
	position: absolute;
	height: calc(100% - 50px);
	background-color: white;
	padding: 0 10px;
}
.videoLinks .motifName {
	font-size: 110%;
}
tei-div tei-head {
	font-size: 19px;
	font-weight: bold;
	font-family: Muli, "Gill Sans", Tahoma, Geneva, sans-serif;
	color: rgb(68, 68, 68);
	text-indent: 0;
	margin-top: 0.2em;
	padding: 0 69px;
}
tei-table {
	border-spacing: 0px;
}
tei-row {
	vertical-align: top;
}
tei-cell[type=text] {
	width: 360px;
	border: none;
	vertical-align: top;
}
tei-cell[type=margin]{
	border: none;
	vertical-align: top;
}
.wrapper.essay .TEIContainer tei-cell[type=text] tei-lg{
	padding: 0 0 0 89px;
}
.wrapper.essay .TEIContainer tei-cell[type=margin] tei-lg{
	padding: 0;
}
tei-cell[type=text] tei-l{
	width: 360px;
}
tei-cell[type=margin], tei-cell[type=margin] tei-l {
	width: 150px;
	height: 20.5px;
}
tei-cell {
	padding-top: 0;
	padding-bottom: 0;
}
.container > .home {
	width: 100%;
	height: 100%;
	min-height: 800px;
	background-image: url("/style/images/background.svg");
}
.homeText {
	font-family: Muli, "Gill Sans", Tahoma, Geneva, sans-serif;
	top: 92px;
	position: absolute;
	width: 480px;
	left: calc(50% - 240px);
	color: white;
	text-align: center;
}
.home .homeText .header{
	/* font-family: "Muli Extra Bold", Muli, "Gill Sans", Tahoma, Geneva, sans-serif; */
	font-family: Muli, "Gill Sans", Tahoma, Geneva, sans-serif;
	font-weight: bold;
	font-size: 30px;

}
.homeText .header .hi {
	color: #ffe59a;
}
.homeText .instruction, .homeText .introLink {
	margin: 0 auto;
}
.homeText .introLink .link, .intro p a{
	color: #1CDDB2;
	text-decoration: underline;
	cursor: pointer;
}
.home .swiper-wrapper img {
	top: auto;
	left: auto;
	position: static;
	visibility: visible;
	cursor: pointer;
	/*height: 100%;*/
	/*height: auto;*/
}
.swiper-wrapper img.iPadPro {
	padding: 0 calc(50% - 531px);
	height: 1000px;
}
.swiper-wrapper img.normal {
	padding: 0 calc(50% - 531px);
	height: 640px;
}
.swiper-wrapper img.small {
	padding: 0 calc(50% - 498px);
	height: 600px
}
.swiper-wrapper img.smaller {
	padding: 0 calc(50% - 456px);
	height: 550px
}
.swiper-wrapper img.smallest {
	padding: 0 calc(50% - 440px);
	height: 530px
}
.home .swiper-container {
	position: absolute;
	bottom: 27px;
	/* bottom: 97px; */
	width: 100%;
}
.home .swiper-container .swiper-pagination {
	bottom: auto;
	top: 10px;
}

.intro {
  background-color: #333;
  height: 100vh;
/*	max-height: 800px;*/
	position: absolute;
	overflow: auto;
  width: 100%;
  color: white;
  font-family: Muli, "Gill Sans", Tahoma, Geneva, sans-serif;
}

.intro .closeButton {
  position: fixed;
  text-decoration: underline;
  right: 15px;
  font-weight: bold;
  color: #AAA;
}

.intro .body {
  width: 500px;
  left: calc(50% - 250px);
  position: absolute;
/*  height: 100%;
  overflow-y: auto;*/
  padding-top: 60px;
}

.intro .body h1 {
  text-align: center;
  margin-top: 6px;
	color:white;
}

.pre-intro {
  text-align: center;
  color: #BBB;
}

.intro .body * {
	color: #BBB;
}
